form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #003f5a;
}

.login {
  padding: 16px;
  height: auto;
  margin: 0 auto;
  width: 70%;
}
.loginBottom {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.loginBottomButton {
  max-width: 150px;
  margin: 0 auto;
}

.login h2 {
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.2em;
}

.loginText {
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.formItem {
  padding: 10px;
  letter-spacing: 0.1em;
  font-weight: 800;
  color: #f0f0f0;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  letter-spacing: 0.2em;
}

.login-btn {
  color: #571717 !important;
  background: #ffffff;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
  margin: 5px;
  border: 3px solid #555 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.form-link {
  padding: 10px;
  line-height: 25px;
  text-align: center;
}

.error-login {
  display: flex;
  text-align: center;
}

.red-login {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  display: inline-block;
  color: red;
  padding-top: 10px;
}

/* ----------- iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  nav {
    max-width: 50vw;
  }
  .link {
    padding: 12px;
    font-size: 0.5em;
  }
}
